

@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Caveat:wght@500&family=Kdam+Thmor+Pro&family=Lato:wght@300&family=Pacifico&family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Kdam+Thmor+Pro&family=Lato:wght@300&family=Pacifico&family=Poppins:wght@300&display=swap');
body{
    margin: 0;
    padding: 0;
}
.row{
  margin: 0;
  padding: 0;
}
.text-small {
  font-size: 0.9rem;
}
a:hover, a:focus {
  text-decoration: none;
}

.material-symbols-outlined {
    color:rgb(202, 3, 3);    
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
}
#qts{
    font-family: 'Pacifico', cursive;
    ;
    font-weight: lighter;
}

a:hover, a:focus {
  text-decoration: none;
}

.form-control {
 
  border-color: #545454;
  background-color: whitesmoke;
}

.form-control:focus {
    border-color: #192cd7;
    background-color: whitesmoke;
}

footer {
  background: whitesmoke;
}
#q {
font-family: 'Caveat', cursive;;
  color: #212529;
}



.navbar{
  transition: all 0.6s;
  
}
.navbar-scrolled{
  background: #03011b;
  box-shadow: 0 0 10px 5px rgb(235, 231, 231);
}
.offcanvas{
/* background: #dbe0de;
width: 100px;
 */
 width: 0px;

}
.offcanvas.show:not(.hiding), .offcanvas.showing {
  transform: none;
  background-image: url('../images/14731307_rm218-bb-07.jpg');
  background-size: cover;
  width: 250px;
  color: #ebf0f0;
  transition: ease-in 0.5s;
  
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(217 230 229);
  padding: 23px;
}
.i1{

  
}
.i2{
 
}

/* .carousel-item {
  transition: transform 5s ease-out;
} */
