{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/carousel.js' %}"></script>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    <title>{% block title %} Charity Management {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid m-0 p-0">
            <img src="{% static 'images/logo.svg' %}" width="50px" height="50px" alt="" srcset="">
          <a class="navbar-brand ml-5 small" href="#">CHARITY MANAGEMENT</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0 small ">
              <li class="nav-item ">
                <a class="nav-link active" aria-current="page" href="#">HOME</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" aria-current="page" href="#">PROJECTS</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" aria-current="page" href="#">EVENTS</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" aria-current="page" href="#">ORAGANIZATIONS</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" aria-current="page" href="#">DONATE</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" aria-current="page" href="#">ABOUT</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" aria-current="page" href="{% url 'login' %}">LOGIN</a>
              </li>
             
              
            </ul>
            
          </div>
        </div>
      </nav>
{% block slider %} {% endblock %}
{% block content %} {% endblock %}


<div class="p-0 m-0">

    <footer class="w-100 py-4 flex-shrink-0">
        <div class="">
            <div class="row ">
                <div class="col-lg-3 col-md-6 mt-3 ">
                  <ul class="list-unstyled"><li class="ml-3"><img src="https://img.icons8.com/?size=50&id=3723&format=png" alt="" srcset="">  <h4 class=" ">CONTACT US</h4></li></ul>
                   
                    <p class="text-muted ml-3 ">Hopeful Hearts Charity Org <br>Trivandrum <br>Kerala <br>+91 6253424521 <br>hrc@gmail.com</p>
                   
                </div>
                <div class="col-lg-3 col-md-6 mt-3">
                  <ul class="list-unstyled"><li class="ml-3"><img src="https://img.icons8.com/?size=50&id=40390&format=png" alt="" srcset=""> <h4 class=" ">LEADERBOARD</h4></li></ul>
                 
                    <ul class="list-unstyled  ml-3">
                        <li><h6>CEO - Ebi Shine</h6></li>
                        <li><h6>Chairman - Elon Musk</h6></li>
                        <li><h6>Manager - Mark Zuckerberg</h6></li>
                        <li><h6>Frontline Supervisors -Jeff Bezos</h6></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mt-3">
                  <ul class="list-unstyled"><li class="ml-3"><img src="https://img.icons8.com/?size=50&id=10993&format=png" alt="" srcset=""><h4 class=" ">STAY CONNECTED</h4></li></ul>
                  
                  <div class="row p-3">

                    <div class="col-4 col-md-4  mt-3"><a href="" > <img width="32px" height="32px" src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/ig-instagram-icon.png" alt="" srcset=""></a></div>
                    <div class="col-4 col-md-4  mt-3"><a href=""><img width="35px" height="35px" src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/facebook-round-color-icon.png" alt="" srcset=""></a></div>
                    <div class="col-4 col-md-4   mt-3"><a href="" ><img width="30px" height="30px" src="https://uxwing.com/wp-content/themes/uxwing/download/checkmark-cross/close-square-icon.png" alt="" srcset=""></a></div>
                  </div>

                </div>
                <div class="col-lg-3 col-md-6  mt-3">
                  <ul class="list-unstyled "><li class="ml-3"><img src="https://img.icons8.com/?size=50&id=11642&format=png"><h4 class=" ">NOTIFICATION</h4></li></ul>
                  
                    <p class="small text-muted ml-3">Enter your email or phone to get notification</p>
                    <form action="#">
                        <div class=" mb-3 ml-3">
                            <input class="form-control" type="text" placeholder="Recipient's phone/email" >
                            
                            <button class="btn btn-primary mt-3 w-50" id="button-addon2" type="button">Submit</button>
                          
                        </div>
                    </form>
                </div>
                <h3 id="q" class=" q text-center ">'' Its not how much we give ,<br>but how much love we put into giving'' <br> --Mother Teresa</h3>
            </div>
        </div>
    </footer>
</div>

</div>

</body>

</html>