{% extends 'main/core.html' %}

{% load static %}
{% block title %} Charity Management {% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}
{% block js %}
<script src="{% static 'js/home.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
{% endblock %}
{% block slider %}

<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div id="c-item" class="carousel-item active  ">
      <img id="c-img" class="d-block w-100 " src="{% static 'images/s4.jpg' %}" alt="First slide">
      <h4  class="overlay-txt mr -auto"> to the voluntary act of providing help, assistance, 
        or support to those in need, typically in the form of financial aid,<br>
         resources, or services. It is driven by compassion,
         <br> goodwill, and a desire to contribute positively to the well-being of others or to address various <br>
         social, humanitarian, or environmental issues.</h4>
    </div>
    <div id="c-item" class="carousel-item ">
      <img id="c-img" class="d-block w-100 " src="{% static 'images/s3.jpg' %}" alt="Second slide">
    </div>
    <div id="c-item" class="carousel-item">
      <img id="c-img" class="d-block w-100 " src="{% static 'images/slider1.jpg' %}" alt="Third slide">
    </div>
  </div>
</div> -->


{% endblock %}

{% block content %}
<script>
  AOS.init();
</script>

<!-- <div class="content    ">
  
  <h1 class="m-2 p-5">
    Why this organization..?
  </h1>
  <div class="row p-4 m-3"> 
   

      
        <div class="col-md-6 mt-2 ">
          <h3>Raise Awareness:</h3>
          <h5>Increase awareness about the cause, issues, or projects the charity is working on. <br>
            This involves providing information, statistics, <br>
            and success stories to educate the public about the importance of the charity's work.</h5>
        </div>
        


  <div class="col-md-6 mt-2">
  <h3>Fundraising:</h3>
  <h5>Facilitate online donations and fundraising campaigns. <br>
    The website can serve as a platform to collect financial contributions from individuals, <br>
    corporations, and other donors interested in supporting the charity's mission.</h5>

</div>


     
  
    
     <div class="col-md-6 mt-2 ">
    <h3>Communication:</h3>
    <h5>Act as a communication hub between the charity and its stakeholders. <br>
      This includes donors, volunteers, beneficiaries, and the general public. <br>
      The website can provide updates, news, and reports on the charity's activities and impact.</h5>
  </div>


     


  <div class="col-md-6 mt-2 ">
  <h3>Transparency:</h3>
  <h5>Foster transparency and accountability by sharing financial reports, project updates, and the overall impact
    of the charity's work. This helps build trust among donors and stakeholders.
  </h5>

</div>


     


  <div class="col-md-6 mt-2 ">
    <h3>Education:</h3>
    <h5> Provide educational resources to inform visitors about the issues the charity addresses, potential
      solutions, and the broader context of the charity's work. <br>
      This could include articles, videos, and other multimedia content.
    </h5>

  </div>

      

  <div class="col-md-6 mt-2 ">
  <h3>Advocacy:</h3>
  <h5> Enable supporters to take action by providing resources for advocacy efforts. This might include
    petitions,<br>
    letter campaigns, or information on how individuals can engage with policymakers to promote positive change.
  </h5>

</div>



        
          <div class="col-md-6 mt-2 ">
            <h3>Volunteer Engagement:</h3>
            <h5>Recruit and manage volunteers by providing information on available opportunities, requirements, and the
              application process. A charity website can also be used to coordinate and communicate with volunteers
              effectively.</h5>
    
          </div>
        

      


  
  <div class="col-md-6 mt-2">
    <h3>Community Building:</h3>
    <h5>Create a sense of community among supporters. This can involve features like forums, social media
      integration, and events to encourage engagement and networking among people who share an interest in the
      charity's cause.
    </h5>

  </div>
 



    </div>



</div> -->

<div class="content">
  <div class="row m-5 p-2" data-aos="fade-up" data-aos-duration="5000">
    <h1 class="mb-5" style="color: rgb(9,204,127); font-size: 70px;">Why this organization</h1>

    <div class="col-md-6 mt-2 ">
      <h3>Raise Awareness:</h3>
      <h5>Increase awareness about the cause, issues, or projects the charity is working on. <br>
        This involves providing information, statistics, <br>
        and success stories to educate the public about the importance of the charity's work.</h5>
    </div>



    <div class="col-md-6 mt-2">
      <h3>Fundraising:</h3>
      <h5>Facilitate online donations and fundraising campaigns. <br>
        The website can serve as a platform to collect financial contributions from individuals, <br>
        corporations, and other donors interested in supporting the charity's mission.</h5>

    </div>





    <div class="col-md-6 mt-2 ">
      <h3>Communication:</h3>
      <h5>Act as a communication hub between the charity and its stakeholders. <br>
        This includes donors, volunteers, beneficiaries, and the general public. <br>
        The website can provide updates, news, and reports on the charity's activities and impact.</h5>
    </div>





    <div class="col-md-6 mt-2 ">
      <h3>Transparency:</h3>
      <h5>Foster transparency and accountability by sharing financial reports, project updates, and the overall impact
        of the charity's work. This helps build trust among donors and stakeholders.
      </h5>

    </div>





    <div class="col-md-6 mt-2 ">
      <h3>Education:</h3>
      <h5> Provide educational resources to inform visitors about the issues the charity addresses, potential
        solutions, and the broader context of the charity's work. <br>
        This could include articles, videos, and other multimedia content.
      </h5>

    </div>



    <div class="col-md-6 mt-2 ">
      <h3>Advocacy:</h3>
      <h5> Enable supporters to take action by providing resources for advocacy efforts. This might include
        petitions,<br>
        letter campaigns, or information on how individuals can engage with policymakers to promote positive change.
      </h5>

    </div>




    <div class="col-md-6 mt-2 ">
      <h3>Volunteer Engagement:</h3>
      <h5>Recruit and manage volunteers by providing information on available opportunities, requirements, and the
        application process. A charity website can also be used to coordinate and communicate with volunteers
        effectively.</h5>

    </div>






    <div class="col-md-6 mt-2">
      <h3>Community Building:</h3>
      <h5>Create a sense of community among supporters. This can involve features like forums, social media
        integration, and events to encourage engagement and networking among people who share an interest in the
        charity's cause.
      </h5>

    </div>




  </div>





</div>

</div>
<div class="org">

  <div class="row p-2 m-5">

    <div class="col-md-12 donation " data-aos="fade-up" data-aos-duration="6000">


      <h1 class="mb-5" style="color: rgb(9,204,127);font-size: 70px;">Donate </h1>
      <h2 class="mb-4" style="color: rgb(2, 3, 24);font-size: 50px;">Donation can be done by directlty to benificiaries
        or to Charity truts</h2>

      <div class="row">
        <!-- data-aos-easing="ease"  data-aos-duration="400" data-aos-delay="0" -->
        <div id="b" class=" col-md-6">
          <h2 class="mb-4">Beneficiaries</h2>
          <p>Through field survey based on selected area , we collected genuine beneficiaries and verified </p>
          <p>Sponsors or Stakeholders can donate directly to beneficiaries <br>Here are you can find beneficiaries </p>
          <a style="width: 150px;" href="" class="btn btn-primary mb-5 ">View</a>
        </div>
        <div class="col-md-6">

          <!-- <img style="float: right;" src="https://preview.colorlib.com/theme/charityworks/assets/img/gallery/about1.png" alt="" srcset=""> -->
        </div>


      </div>




      <h2 class=" " data-aos="fade-up" data-aos-duration="6000">Charity Trusts </h2>
      <p data-aos="fade-up" data-aos-duration="6000">Here are the list of charity organizations under our program <br>
        Categorized based on aspects of their domain </p>



      <div class="row ">

        <div class="col-md-6 col-lg-4 " data-aos="fade-up" data-aos-anchor-placement="center-bottom"
          data-aos-duration="4000">



          <div class="card">
            <img class="card-img-top img"
              src="https://images.pexels.com/photos/6646940/pexels-photo-6646940.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">ALL</h5>
              <p class="card-text ">Lists of charity trusts which active on all domain</p>
              <a href="#" style="width: 150px;" class="btn btn-primary ">View</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
          data-aos-duration="4000">


          <div class="card">
            <img class="card-img-top img"
              src="https://img.freepik.com/free-photo/side-view-man-working-as-real-estate-agent_23-2151065015.jpg?t=st=1704702413~exp=1704706013~hmac=3a1648ebb402a6491234b2289ad3106c05eda9e1ae856fd356aac0c3bbff1ad2&w=740"
              alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">HOUSE</h5>
              <p class="card-text ">Trusts which are focused on helping homless people</p>
              <a href="#" style="width: 150px;" class="btn btn-primary ">View</a>
            </div>
          </div>

        </div>

        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
          data-aos-duration="4000">


          <div class="card">
            <img class="card-img-top img"
              src="https://images.pexels.com/photos/6995212/pexels-photo-6995212.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="Card image cap">
            <div class="card-body text-center ">
              <h5 class="card-title">FOOD</h5>
              <p class="card-text ">Trusts which are focused on help in food donation</p>
              <a href="#" style="width: 150px;" class="btn btn-primary ">View</a>
            </div>
          </div>


        </div>

        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
          data-aos-duration="4000">


          <div class="card">
            <img class="card-img-top img"
              src="https://img.freepik.com/premium-photo/picture-person-getting-checkup-heart-health-world-health-day-bokeh-generative-ai_288945-370.jpg?w=740"
              alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">HEALTH</h5>
              <p class="card-text ">Trusts which are focused on human health </p>
              <a href="#" style="width: 150px;" class="btn btn-primary ">View</a>
            </div>
          </div>

        </div>

        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
          data-aos-duration="4000">


          <div class="card">
            <img class="card-img-top img"
              src="https://img.freepik.com/premium-photo/teacher-teaching-kids-classroom-generative-ai_259696-1099.jpg?w=740"
              alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">EDUCATION</h5>
              <p class="card-text ">Trusts which are focused on education of poor people</p>
              <a href="#" style="width: 150px;" class="btn btn-primary ">View</a>
            </div>
          </div>

        </div>

        <div class="col-md-6 col-lg-4 " data-aos="fade-up" data-aos-anchor-placement="center-bottom"
          data-aos-duration="4000">


          <div class="card">
            <img class="card-img-top img"
              src="https://img.freepik.com/free-photo/senior-couple-holding-hands-love-bonding-generated-by-ai_188544-33049.jpg?t=st=1704702574~exp=1704706174~hmac=a5bde153d15eee76d5fc51d46b916c3eec340f85a21a2e447178067194dad3c1&w=740"
              alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">OLD AGE </h5>
              <p class="card-text ">Trusts which are focused on caring old age people</p>
              <a href="#" style="width: 150px;" class="btn btn-primary ">View</a>
            </div>
          </div>

        </div>


      </div>



    </div>

  </div>

</div>


<div class="events">

  <div class="row">
    <h1 class="mb-5 text-center" style="color: rgb(9,204,127);font-size: 70px;" data-aos="fade-up"
      data-aos-anchor-placement="center-bottom" data-aos-duration="6000">EVENTS </h1>

      <div class="col-md-12">ghgdchvh</div>

  </div>
</div>

{% endblock %}